{% extends 'base.html.twig' %}

{% block title %}ALIPTIC - Exercice TWIG{% endblock title %}

{% block titrePage %}Exercice TWIG{% endblock titrePage %}

{% block equipe %}
    <div class="container row">

        {% for utilisateur in utilisateurs %}
            <div class="card col-4">
                <img class="card-img-top" src="{{utilisateur.picture.medium}}" alt="Image de {{utilisateur.name.first}}" />

                <div class="card-body">
                    <h5 class="card-title">
                        Bonjour, mon nom est {{utilisateur.name.first|capitalize}} {{utilisateur.name.last|upper}}.
                    </h5>
                    <p class="card-text">
                        J'habite {{utilisateur.location.state|upper}}, dans une ville qui s'appelle {{utilisateur.location.city|upper}}.<br><br>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            Mon adresse e-mail est 
                            <a href="mailto:{{utilisateur.email}}" title="Envoyer un email à {{utilisateur.name.first|capitalize}}">{{utilisateur.email}}</a>, dont le mot de passe est {{utilisateur.login.password}}.
                        </small>
                    </p>
                </div>
            </div>
        {% else %}
            Aucune personne trouvée.
        {% endfor %}
 
    </div>
{% endblock equipe %}